<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div class="especial">
      <%= image_tag "https://image.ibb.co/fGf62c/blastdoorsinblanco.png",class:"img-responsive" %>


    </div>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%=form_for :sessions, url: url_for( :controller => :sessions, :action => :auth ),:html => {class:"form-especial"} do |f| %>

<div class="form-group">
      <%= email_field(:usuariomail, :email,class: 'form-control login',placeholder: "Email") %>
      </div>
      <div class="form-group">
        <%= password_field_tag(:usuariopass,nil,class: 'form-control login',placeholder: "Clave") %>
      </div>

      <button type="submit" class="btn btn-default block full-width m-b login-button">Login</button>

      <spam  class="link login-link" >¿Olvidaste tu contraseña? </spam>
    <%end%>
  </div>
</div>



