
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">

        <div class="ibox-content">
          <%= form_for :usuarios, :url => url_for(:controller => 'usuario', :action => 'create2') do |f| %>
            <div class="form-group">

              Nombres: <%= f.text_field :nombre , class: 'form-control' %></div>
            <div class="form-group">

              Apellidos: <%= f.text_field :apellido, class: 'form-control' %></div>
            <div class="form-group">

              Email: <%= f.email_field :email, class: 'form-control' %></div>
            <div class="form-group">

              Telefono: <%= f.telephone_field :telefono, class: 'form-control' %></div>
            <div class="form-group">

              Cargo: <%= f.text_field :cargo, class: 'form-control' %></div>
            <div class="form-group">

              nª tarjeta: <%= f.text_field :tarjeta, class: 'form-control' %></div>


            <%#=Password: <%= f.password_field :password %>
            <%#=Password Confirmation: <%= f.password_field :password_confirmation %>
            <%= f.submit "Submit" , class: 'btn btn-primary'%>

          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>


