

<div class="ibox-content">
  <div class="ibox-content"><div class="col-sm-4 m-b-xs">
    <a  href="<%= url_for :controller => 'usuario',:action => 'create' %>" class="btn btn-primary ">Agregar Nuevo Usuarios</a></div>

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
      </div>
    </div>
    <div class="col-sm-4 m-b-xs">
      <div data-toggle="buttons" class="btn-group">
        <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> CSV </label>
        <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> EXCEL </label>
        <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> PDF </label>
      </div>
    </div>
  </div>
  <div class="container table-responsive">

    <table class="table table-bordered table-responsive table-hover" id="editable">
    <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Cargo</th>
    </tr>
    </thead>
    <tbody>
    <% @datosusuario.each do |item| %>
      <tr>
        <td>  <%= button_to( "X", {:action => "delete", :controller => "usuario",data: { usuario: "#{@CIPPER.encrypt(item.id.to_s)}" }} ,{:class =>"btn btn-primary"})%></td>

        <td data-toggle="modal" data-target="#myModal4<%=item.created_at.strftime('%H%M%S').to_s%>" style="cursor: pointer;"> <%= item.nombre%>  </td>
        <td data-toggle="modal" data-target="#myModal4<%=item.created_at.strftime('%H%M%S').to_s%>" style="cursor: pointer;"><%= item.apellido %></td>
        <td data-toggle="modal" data-target="#myModal4<%=item.created_at.strftime('%H%M%S').to_s%>" style="cursor: pointer;"><%= item.email %></td>
        <td data-toggle="modal" data-target="#myModal4<%=item.created_at.strftime('%H%M%S').to_s%>" style="cursor: pointer;"><%= item.telefono%></td>
        <td data-toggle="modal" data-target="#myModal4<%=item.created_at.strftime('%H%M%S').to_s%>" style="cursor: pointer;"><%= item.cargo %></td>
      </tr>
      <div class="modal inmodal" id="myModal4<%=item.created_at.strftime('%H%M%S').to_s%>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content animated fadeIn">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h1 class="modal-title"><%=  item.nombre %></h1>
            </div>
            <div class="modal-body">

              <p>
              </p>
              <%=form_for :puertas, url: url_for( :controller => :usuario, :action => :update ), :html => { :id => "#{item.created_at.strftime('%H%M%S').to_s}form" } do |f| %>
                <div class="form-group">
                  Nombre:
                  <%=text_field 'Descriptcion', "Nombre" ,:value => "#{item.nombre}",:readonly => true,class: "form-control #{item.created_at.strftime('%H%M%S').to_s}" %>
                  Apellido:
                  <%=text_field 'Descriptcion', "Apellido" ,:value => "#{item.apellido}",:readonly => true ,class: "form-control #{item.created_at.strftime('%H%M%S').to_s}"%>
Cargo:
                  <%= text_field 'Descriptcion', "Cargo" ,:value => "#{item.cargo}",:readonly => true,class: "form-control #{item.created_at.strftime('%H%M%S').to_s}" %>
                  Email:
                  <%= text_field 'Descriptcion', "Email" ,:value => "#{item.email}",:readonly => true,class: "form-control #{item.created_at.strftime('%H%M%S').to_s}"%>
                  Telefono:
                  <%= telephone_field 'Descriptcion', "Telefono" ,:value => "#{item.telefono}",:readonly => true,class: "form-control #{item.created_at.strftime('%H%M%S').to_s} telefono" %>
                  nª Tarjeta:
                  <%= telephone_field 'Descriptcion', "Tarjeta" ,:value => "#{item.ntarjeta}",:readonly => true,class: "form-control #{item.created_at.strftime('%H%M%S').to_s} binario",maxlength:26,minlength:26 %>
                  <%= hidden_field("Description", "secret", :value => "#{item.id}") %>



                </div>

            </div>
            <div class="modal-footer">
              <button  type="button" id="<%= item.created_at.strftime('%H%M%S').to_s %>" class="btn btn-primary" onClick='editForm(this)' >Editar</button>
              <%end%>

              <button type="button" class="btn btn-primary">Enviar contraseña</button>


              </div>
          </div>
        </div>
      </div>
    <%end%>

    </tbody>

  </table>
  </div>
    <% if flash[:notice] %>
      <div class="notice alert"><%= if flash[:notice].include?"is the wrong length (should be 26 characters)" then "el numero de tarjeta debe ser igual a 26" else flash[:notice] end %></div>
    <% end %>
  </div>






  <script type="text/javascript">
      $(document).ready(function() {
          $(".telefono").keydown(function (e) {
              // Allow: backspace, delete, tab, escape, enter and .
              if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 187]) !== -1 ||
                  // Allow: Ctrl+A, Command+A
                  (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                  // Allow: home, end, left, right, down, up
                  (e.keyCode >= 35 && e.keyCode <= 40)) {
                  // let it happen, don't do anything
                  return;
              }
              // Ensure that it is a number and stop the keypress
              if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                  e.preventDefault();
              }

          });
          $(".binario").keydown(function (e) {
              // Allow: backspace, delete, tab, escape, enter and .
              if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                  // Allow: Ctrl+A, Command+A
                  (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                  // Allow: home, end, left, right, down, up
                  (e.keyCode >= 35 && e.keyCode <= 40)) {
                  // let it happen, don't do anything
                  return;
              }
              // Ensure that it is a number and stop the keypress
              if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 49)) && (e.keyCode < 96 || e.keyCode > 105)) {
                  e.preventDefault();
              }
          });
      });
function editForm(e) {
    $('.'+e.id).removeAttr('readonly');
     $(e).replaceWith( "<input id='"+e.id+"trigger' type='submit' value='aceptar' class='btn btn-primary'>" );
    $( "#"+e.id+"trigger" ).click(function() {
        $( "#"+e.id+"form" ).submit();


    });

}





  </script>

