<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<div class="ibox-content">
  <div class="ibox-content"><div class="col-sm-4 m-b-xs">
    <a onclick="fnClickAddRow();" href="<%= url_for :controller => 'puertas',:action => 'create' %>" class="btn btn-primary ">Agregar Puerta</a></div>

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
      </div>
    </div>
    <div class="col-sm-4 m-b-xs">
      <div data-toggle="buttons" class="btn-group">
        <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> CSV </label>
        <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> EXCEL </label>
        <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> PDF </label>
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered table-responsive table-hover " id="editable">
    <thead>

      <tr>
        <th class ="esp"></th>
      <th>Puerta</th>
      <th># Serial</th>
      <th>Cantidad de Usuarios</th>
      <th>Ultimo acceso</th>

    </tr>
    </thead>
    <tbody>
<%@datospuertas.each do |item|%>
      <tr>
        <td class ="esp">
        <%= button_to( "X", {:action => "delete", :controller => "puertas",data: { puera: "#{@CIPPER.encrypt(item.id.to_s)}" }} ,{:class =>"btn btn-primary"})%></td>

        <td data-toggle="modal" data-target="#myModal4<%=Hardware.find(item.hardware_id).nserial%>" style="cursor: pointer;"> <%= item.descr%>  </td>
        <td data-toggle="modal" data-target="#myModal4<%=Hardware.find(item.hardware_id).nserial%>" style="cursor: pointer;"><%= Hardware.find(item.hardware_id).nserial %></td>
        <td data-toggle="modal" data-target="#myModal4<%=Hardware.find(item.hardware_id).nserial%>" style="cursor: pointer;"><%=Permiso.where(puerta_id: "#{item.id}").distinct.count(:usuario_id)%></td>
        <td data-toggle="modal" data-target="#myModal4<%=Hardware.find(item.hardware_id).nserial%>" style="cursor: pointer;"><%=if Metrica.where('puerta =  ?',item.id).last then  Metrica.where('puerta =  ?',item.id).last.created_at.strftime('%D %H:%M').to_s else "no se registra accesos" end  %></td>

      </tr>
      <div class="modal inmodal" id="myModal4<%=Hardware.find(item.hardware_id).nserial%>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content animated fadeIn">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <%=form_for :puertas, url: url_for( :controller => :puertas, :action => :update ), :html => { :id => "#{Hardware.find(item.hardware_id).nserial}form" } do |f| %>
                <div class="form-group">

                  <%=text_field 'Descriptcion', "Nombre" ,:value => "#{item.descr}",:readonly => true,class: "form-control #{Hardware.find(item.hardware_id).nserial}" %></div>
                <div class="form-group">
                  <%=text_field 'Descriptcion', "Serial" ,:value => "#{Hardware.find(item.hardware_id).nserial}",:readonly => true ,class: "form-control #{Hardware.find(item.hardware_id).nserial}"%></div>
                <%=hidden_field 'Descriptcion', "secret" ,:value => "#{@CIPPER.encrypt(item.id.to_s)}",:readonly => true ,class: "form-control #{Hardware.find(item.hardware_id).nserial}"%>
                  <%end%>

            </div>
            <div class="modal-body" style="text-align: center">

                <img src="https://vignette.wikia.nocookie.net/halo/images/7/7a/BlastDoor_POA.png/revision/latest?cb=20150416054031" alt="<%= item.descr %>"/>


            </div>
            <div class="modal-footer">
              <div class="edicion-esp col-sm">
              <%= button_to( "Agregar Usuario", {:action => "add", :controller => "puertas",data: { puera: "#{Hardware.find(item.hardware_id).nserial}" }} ,{:class =>"btn space btn-primary"})%>
                <button  type="button" id="<%= Hardware.find(item.hardware_id).nserial %>" class="btn btn-primary" onClick='editForm(this)' >Editar</button></div>
              <div class="actions-modals col-sm">
                <%= button_to( "Abrir Puerta", {:action => "comprobar", :controller => "permisos",data: { puera: "#{Hardware.find(item.hardware_id).nserial}" }} ,{:class =>"btn btn-primary"})%></div>


            </div>
          </div>
        </div>
      </div>
<%end%>
    </tbody>

  </table>

</div>
<script type="text/javascript">

    function editForm(e) {
        $('.'+e.id).removeAttr('readonly');
        $(e).replaceWith( "<input id='"+e.id+"trigger' type='submit' value='aceptar' class='btn btn-primary'>" );
        $( "#"+e.id+"trigger" ).click(function() {
            $( "#"+e.id+"form" ).submit();


        });

    }


</script>


