<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                  <div class="image" align="center" style="background-color: white">
                  <%= image_tag"#{@logocompany}",size: "100x100", :alt => "BlastDoor" %>
                  </div>
                </div>

                <div class="logo-element">
                  <%= image_tag("#{@logocompany}",size: "50x50", :alt => "BlastDoor") %>

                </div>
            </li>


          <li class="<%= 'active' if current_page?('/metricas/get') %>">
            <%= link_to  '/metricas/get'  do%>
              <i style="color: white;" class="fa fa-area-chart"></i> <span class="nav-label">Metricas</span>
            <%end%>
          </li>
          <li class="<%= 'active' if current_page?('/puertas/get') %>">
            <%= link_to '/puertas/get' do %>
              <i style="color: white;" class="fa fa-columns"></i> <span class="nav-label">Puertas</span>

          <%end%>
          </li>
          <li class="<%= 'active' if current_page?('/usuarios/get') %>">
            <%= link_to "/usuarios/get"  do %>
              <i style="color: white;" class="fa fa-users"></i> <span class="nav-label">Usuarios</span>
            <% end %>

          </li>
        </ul>

    </div>
</nav>