<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application' %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>

</head>
<body>
    <!-- Wrapper-->



  <%unless  current_page?(root_url) || current_page?(controller: 'usuario', action: 'index') || current_page?(controller: 'usuario', action: 'create3') %>
    <div id="wrapper">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->

            <%= render 'layouts/topnavbar' %>

            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->

        </div>
        <!-- End page wrapper-->


    </div>
    <!-- End wrapper-->
  <%else%>
    <div id="wrapper" class="white-bg ">
      <%= yield %>

    </div>
  <%end%>

</body>
</html>
