<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main css styles -->
    <%= stylesheet_link_tag 'application' %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>

</head>
<body>
    <!-- Wrapper-->



  <%unless  current_page?(root_url) || current_page?(controller: 'usuario', action: 'index') || current_page?(controller: 'usuario', action: 'create3') || current_page?(controller: 'usuario', action: 'index') || current_page?(controller: 'usuario', action: 'pincode')  %>
    <div id="wrapper">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->

            <%= render 'layouts/topnavbar' %>

            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->

        </div>
        <!-- End page wrapper-->


    </div>
    <!-- End wrapper-->
  <%else%>
    <div id="wrapper" style="height: 1000px" class="white-bg ">
      <%= if  current_page?(root_url) then  else form_tag  :sessions_delete ,:class => 'disable_on_submit' do
             button_tag class:"btn btn-primary" do
               content_tag :i, ' Cerrar sesión', :class => 'fa fa-sign-out'
          end
          end  end %>
      <div id="wrapper" class="gray-bg">
      <%= yield %>
      </div>
    </div>
  <%end%>

</body>

</html>
